{{#if loading}}

  <p>{{fa-icon "refresh" spin=true size="lg"}}</p>
  <p>Cargando video ...</p>

{{/if}}


{{#if error}}

  <div class="panel-error">
    No se puede mostrar el recurso desde este visor, abrilo
    desde VLC.
  </div>

{{else}}

  <video class={{videoClass}} src={{videoURL}} type="video/mp4" controls> </video>

{{videoURL}}
{{type}}

{{/if}}
