<div class="container">

  <div class='resultado-busqueda' ng-show='data.result' infinite-scroll="busquedaPagingFunction()">

    <div class="input-group busqueda-input-resultados">
      {{input value=busqueda action="buscar" type="text" class="form-control"}}

      <span class="input-group-btn">

        {{#if busqueda}}

          {{#if buscando}}
            <button class="btn disabled btn-success">{{fa-icon "refresh" spin=true}} &nbsp;Buscando ...</button>
          {{else}}
            <button {{action "buscar"}} class="btn btn-success">Buscar</button>
          {{/if}}

        {{else}}
          <button class="btn disabled">Buscar</button>
        {{/if}}

      </span>
    </div>


    {{#if buscando}}
      <p>{{fa-icon "refresh" size="lg" spin=true}} &nbsp; Buscando ...</p>
    {{else}}

      {{#each resultado as |resultado|}}
        {{huayra-itemResultado item=resultado}}
      {{else}}
        <p>No hay resultados para mostrar ...</p>
      {{/each}}

    {{/if}}


    <!--

    <ul class="nav nav-tabs busqueda-filtro-entidad">
      <li ng-class="{active: data.mostrar == 'todos'}">
        <a ng-click="mostrar('todos')">Todos</a>
      </li>
      <li ng-class="{active: data.mostrar == 'juegos'}">
        <a ng-click="mostrar('juegos')">Juegos <cantidad model='data.cantidad_juegos'></cantidad></a>
      </li>
      <li ng-class="{active: data.mostrar == 'videos'}">
        <a ng-click="mostrar('videos')">Videos <cantidad model='data.cantidad_videos'></cantidad></a>
      </li>
      <li ng-class="{active: data.mostrar == 'ebooks'}">
        <a ng-click="mostrar('ebooks')">Ebooks <cantidad model='data.cantidad_ebooks'></cantidad></a>
      </li>
      <li ng-class="{active: data.mostrar == 'secuencias'}">
        <a ng-click="mostrar('secuencias')">Secuencias <cantidad model='data.cantidad_secuencias'></cantidad></a>
      </li>
      <li ng-class="{active: data.mostrar == 'infografias'}">
        <a ng-click="mostrar('infografias')">Infografias <cantidad model='data.cantidad_infografias'></cantidad></a>
      </li>
    </ul>

    <div ng-hide="(data.mostrar == 'todos' && data.recursos) || data[data.mostrar]" class="sin-resultados">
      <p>No se encontraron resultados</p>
    </div>

    <div ng-show="data.mostrar == 'todos' || data.mostrar == (recurso.entity+'s')" ng-class="recurso.entity" ng-repeat='recurso in data.recursos' class="bs-callout bs-callout-info">
      <h4 class="busqueda-ver-detalle"><a ng-click="abrir_recurso(recurso)" ng-bind-html="recurso.titulo | striptags"></a></h4>

      <p ng-bind-html="recurso.descripcion | striptags"></p>
      <span class="label label-warning">{{recurso.entity}}</span>
      <hr/>
    </div>

    -->

  </div>

</div>
