<div class="container">

  <div class="row">
    <h1>Descargas</h1>

    <p>Desde esta sección vas a poder observar las descargas en curso:</p>
  </div>

  <div class="row">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>

          {{#if queue.noHayDescargas}}
            <tr ng-show="data.descargas_en_curso.length == 0">
              <td colspan='4' align='center'>No hay descargas en curso aún</td>
            </tr>
          {{else}}

            {{#each queue.items as |item|}}

              <tr>
                <td>{{item.titulo}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.estado}} ({{item.progreso}} %)</td>
                <td>

          <!--
            <button class='btn btn-danger btn-xs'><i class='glyphicon glyphicon-remove'></i></button>
            <button class='btn btn-xs'><i class='glyphicon glyphicon-remove'></i></button>
            <button class='btn btn-xs'><i class='glyphicon glyphicon-remove'></i></button>
            <button class='btn btn-success btn-xs'><i class='glyphicon glyphicon-folder-open'></i></button><button class='btn btn-xs' ng-click='borrar(recurso)'><i class='glyphicon glyphicon-remove'></i></button>
          -->

                </td>
              </tr>

            {{/each}}

          {{/if}}

        </tbody>
      </table>
  </div>
</div>
