<div class="container">

  <div class="row">
    <h1>Mis Recursos</h1>

    <p>Los recursos se almacenan
      en <code>{{recursos.rutaBaseDeDatos}}</code>.</p>

  </div>

  <div class="row panel-buscador">

    <!--
    <div class="btn-group">
      <label class="btn btn-success" ng-model="data.tipo_de_vista" btn-radio="'lista'" uncheckable><i class='glyphicon glyphicon-th-list'></i></label>
      <label class="btn btn-success" ng-model="data.tipo_de_vista" btn-radio="'grilla'" uncheckable><i class='glyphicon glyphicon-th'></i></label>
    </div>
  -->

    <!--
      <input ng-keyup="$event.keyCode == 13 ? buscar() : null" class='form-control input-buscador' type="input" ng-model='data.busqueda' placeholder='Buscar'>
      <button ng-click='buscar()' class='btn btn-success'>Buscar</button>
    -->
  </div>

  <div class="row">

    <!--
      <div ng-show='filtro' class='alert alert-warning'>
        Solo se muestran algunos resultados de búsqueda. <a href='' ng-click='limpiar()'>¿Querés ver todos los resultados?</a>
      </div>
    -->

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Miniatura</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>

          {{#each model as |recurso|}}
          {{recurso.recurso.id}}
            <tr>
              <td><a href>{{ce-thumb recurso_id=recurso.result.id}}</a></td>
              <td><a href>{{recurso.result.titulo}}</a></td>
              <td>{{recurso.result.descripcion}}</td>
              <td><button class='btn btn-success btn-xs'>abrir</button></td>
            </tr>
          {{else}}
            <tr>
              <td colspan='4' align='center'>Sin recursos para mostrar</td>
            </tr>
          {{/each}}

        </tbody>
      </table>

<!--
      <div ng-show='data.tipo_de_vista === "grilla"'>

        <div ng-show="data.recursos_almacenados == null">
          <img src='img/cargando.gif'/>
        </div>

        <div ng-show="(data.recursos_almacenados | filter:filtro).length == 0">
          Sin recursos para mostrar
        </div>

        <div class='item' ng-repeat="recurso in data.recursos_almacenados | filter:filtro">
          <a href ng-click='abrir(recurso.result)'><img width=175 ng-src='{{path_recursos}}/{{recurso.result.id}}/thumb.png'></a>
          <br/>
          <a href ng-click='abrir(recurso.result)'>{{recurso.result.titulo}}</a>
        </div>


      </div>
-->


    </div>
  </div>
